<h1 id="hi-there-im-sam">Hi there, I'm Sam 👋</h1>
<p>I'm a senior full-stack software developer with 5+ years of
    experience in the full software development cycle. I have collaborated
    with 3 cross-functional agile teams to build, test, and deliver software
    features and increase efficiency while delivering world-class solutions
    to customers.</p>