<!DOCTYPE html>
<html lang="en">

{{> 'partials/head' }}

<body class="bg-darker text-light p-4 text-xl">
   {{~>'partials/header'}}
   <div class="flex gap-[1ch]">
      <div class="text-green">sam@vendittelli<div class="inline-block text-light">:</div>
      </div>
      <div class="content-start text-purple">~</div>
      <div>$</div>
      <div class="typewriter">whoami</div>
   </div>
   <p>sam</p>
</body>

</html>