{{~>'partials/header'}}
<div class="flex gap-[1ch]">
   <div class="text-green">sam@vendittelli<div class="inline-block text-light">:</div>
   </div>
   <div class="content-start text-purple">~</div>
   <div>$</div>
   <div class="typewriter">glow about-me.md</div>
</div>
<div class="response fade">{{> 'files/about-me'}}</div>
<div class="flex gap-[1ch] fade">
   <div class="text-green">sam@vendittelli<div class="inline-block text-light">:</div>
   </div>
   <div class="content-start text-purple">~</div>
   <div>$</div>
   <form class="flex-grow" hx-post="/command" hx-target="#response" hx-swap="innerHTML">
      <input name="text" class="bg-transparent w-full caret-orange focus:outline-none" type="text" autofocus placeholder="ls" />
   </form>
</div>
<div id="response" class=".response"></div>