{{~>'partials/header'}}
<div class="flex gap-[1ch]">
   <div class="text-green">sam@vendittelli<div class="inline-block text-light">:</div>
   </div>
   <div class="content-start text-purple">~</div>
   <div>$</div>
   <div class="typewriter">glow about-me.md</div>
</div>
<div class="response fade">{{> 'files/about-me'}}</div>
<div class="flex gap-[1ch] fade">
   <div class="text-green">sam@vendittelli<div class="inline-block text-light">:</div>
   </div>
   <div class="content-start text-purple">~</div>
   <div>$</div>
   <div class="caret"></div>
</div>