.caret {
    /* The typwriter cursor */
    border-right: .15em solid #ffb86c;
    animation: 1s step-end 0s infinite blink-caret;
}

.typewriter {
    width: 0;
    /* Ensures the content is not revealed until the animation */
    overflow: hidden;
    /* The typwriter cursor */
    border-right: .15em solid #ffb86c;
    /* Keeps the content on a single line */
    white-space: nowrap;
    animation:
        0.5s steps(16, end) 2.5s forwards typing,
        1s step-end 0s 4 forwards blink-caret;
}

.fade {
    opacity: 0;
    animation: 0.5s linear 4s forwards fade;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* The typing effect */
@keyframes typing {
    from {
        width: .15em;
    }

    to {
        width: calc(16ch + .15em);
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #ffb86c;
    }
}